@import "tailwindcss";

@theme {
  --text-base: 0.9375rem;
  --font-sans: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --z-index-card: 1;
  --z-index-overlay: 10;
}

@layer base {
  html, body {
    height: 100%;
  }

  body {
    font-family: var(--font-sans), sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    background-color: var(--color-white);
  }
}